*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
   
    
}

html{
    scroll-behavior: smooth;
    
}

body{
    background-color: #18122B ;
}

#userName{
    height: 1.8rem;
    width:15rem;
    padding: 5px;
    font-size: 1rem;
    border: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.option label:hover{
    opacity:.8;
}

.verdigris{
    color:#54bab9;
}

.result-grp{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.3rem  1rem;
}

.result{
    display: flex;
    justify-content: space-between;
}

